<p>
<div class= "row">
	<div class="col-md-6">
		<%= f.label :criterion, f.object.criterion.title %>
	</div>
	<div class="col-md-2">
		<%= f.select :point, (0..10) %>
	</div>

	<div class="col-md-4">
		<%= f.text_area :comment %>
	</div>
</div>
</p>