<li>
	<%= link_to gravatar_for(internship_recruitment.user, size: 100), internship_recruitment.user %>	
	<span class="action"> <%= link_to "Apply now", "#", class: "btn btn-primary" %> </span>
	<span class="title"><%= link_to internship_recruitment.title, internship_recruitment %></span>
	<span class="content"> <%= internship_recruitment.content %> </span>
</li>